body {
    overflow: auto;
    background-color: gainsboro;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

#top-bar {
    width: 100%;
    height: 50px;
    background-color:maroon;
    color: white;
}

#learn-more-bar {
    width: 100%;
    height: 30px;
    background-color: #992226;
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-danger {
    background-color: #992226;
    border-color: #992226;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
    background-color: #457f03;
    border-color: #457f03;
}

.btn-primary:hover {
    background-color: #629922;
    border-color: #629922;
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .open>.dropdown-toggle.btn-light {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

a, a:link, a:visited, a:active {
   color: white;
}

a:hover {
color: lightgray;
}

#editor-output-container {
    margin: 10px;
}

#editor {
    height: 400px;
}

#output {
    height: 400px;
}
#editor-wrapper {
    float: left;
    width: 50%;
}

#output-wrapper {
    float: right;
    width: 49%;
}

.code-button {
    margin: 5px;
    text-align: left;
    font-family: monospace;
    letter-spacing: -0.5px;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}